.bookListHeader{
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.bookContent{
    display: flex
}

.mainbar{
    top: 0
}

.bookList{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding: 0;
    margin: 0;
      
}

.bookEntry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    border: 2px solid #aaaaaa;
    transition: all .2s ease-in-out; 
    padding: 5px
}

.bookEntry h3{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
}

.booklink{
    width: 200px;
    background-color: red !important;
}

.bookEntry img:hover { 
    transform: scale(1.01); 
  }

  .bookSearch{
    display: none
  }


.bookEntry img {
    min-width: 128px;
    min-height: 200px;
}

.bookEntry h3, h5{
    margin-left: 10px;
}

.bookEntry h5{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
}

.bookEntry button {
    background-color: black;
    color: white;
    width: 150px;
    height: 20px;
    border: none;
}

.bookEntry a {
    white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
}

.bookText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookSearch{
    width: 50%;
}


