.bookListHeader{
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.bookContent{
    display: flex
}

.mainbar{
    top: 0
}

.bookList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0;
    margin: 0;
      
}

.bookEntry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: all .2s ease-in-out; 
    padding: 5px
}

.bookEntry h3{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
}

.bookEntry:hover { 
    transform: scale(1.007); 
  }

  .bookSearch{
    display: none
  }


.bookEntry img {
    min-width: 128px;
}

.bookEntry h3, h5{
    margin-left: 10px;
}

.bookEntry h5{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
}

.bookText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookSearch{
    width: 50%;
}


