body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #353935 ;

}

.nav{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.bookList{
        display: flex;
        flex-direction: column;
        gap: 10px;
      
}

.bookEntry{
    display: flex;
    width: 100%;
    background-color: #FAF9F6;
    border: 1px solid black;
    transition: all .2s ease-in-out; 

}

.bookEntry:hover { 
    transform: scale(1.007); 
  }

.bookEntry img {
    min-width: 128px;
}

.bookEntry h3, h4, h5{
    margin-left: 10px;
}

.bookEntry h5{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
           line-clamp: 5;
   -webkit-box-orient: vertical;
}

.bookSearch{
    width: 50%;
}


