body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #301934 ;

}

.bookListHeader{
    font-family: "Creepster", system-ui;
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.bookContent{
    display: flex
}

.sidebar{
    min-width: 20%;
}

.bookList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 0;
      
}

.bookEntry{
    display: flex;
    width: 100%;
    background-color: #FAF9F6;
    border: 1px solid black;
    transition: all .2s ease-in-out; 

}

.bookEntry:hover { 
    transform: scale(1.007); 
  }

.bookEntry img {
    min-width: 128px;
}

.bookEntry h3, h4, h5{
    margin-left: 10px;
}

.bookEntry h5{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
}

.bookSearch{
    width: 50%;
}


